.topheader {
  background-color: #bad9ef;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Selected Language Box */
.lang-selected {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  width: 140px;
  cursor: pointer;
  border-radius: 6px;
  background: #fff;
  transition: all 0.25s ease;
}

.lang-selected:hover {
  background-color: #f1f5f9;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}


/* Dropdown Menu */
.lang-dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  width: 150px;
  background: white;
  border-radius: 8px;
  padding: 6px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

/* Language Options */
.lang-option {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.lang-option:hover {
  background: #e9f3ff;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}


/* Flag Icon */
.flag-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

/* Arrow Icon */
.arrow {
  margin-left: auto;
  font-size: 18px;
}


/* PROFILE DROPDOWN */
.profile-dropdown {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  background: #fff;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
  z-index: 1000;
  transition: all 0.25s ease;
}


.profile-dropdown .welcome-text {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.profile-dropdown .sub-text {
  font-size: 13px;
  margin-top: 2px;
  color: #666;
}

.profile-dropdown .login-btn {
  margin-top: 10px;
  width: 100%;
  background: blue;
  color: white;
  padding: 8px 0;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.profile-dropdown .login-btn:hover {
  background: #739ce3;
  transform: translateY(-2px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}
.download-app-btn {
  background: #16a34a;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 500;
  transition: background 0.2s;
}

.download-app-btn:hover {
  background: #15803d;
}
