:root {
  --primary-deep: #016B61;
  --bg-cream: #E5E9C5;
  --transition-premium: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-full-width {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #9ECFD4;
  /* height: 65vh;  */
  min-height: 400px;
  max-height: 550px;
}

.hero-slider-wrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1920 / 640;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-premium);
  transform: scale(1.02);
}

.hero-slide.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.hero-img-full {
  width: 100%;
  height: 100%;
  object-fit: fill; 
  object-position: center;
}

.hero-overlay-dark {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.02), rgba(0,0,0,0.1));
  pointer-events: none;
}

.hero-dots-container {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 20;
}

.hero-dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-premium);
}

.hero-dot.active {
  width: 28px;
  border-radius: 10px;
  background: var(--bg-cream);
  box-shadow: 0 0 10px rgba(229, 233, 197, 0.4);
}

@media (max-width: 1024px) {
  .hero-full-width { 
    height: 40vh; 
    min-height: 250px;
  }
}

@media (max-width: 768px) {
  .hero-full-width {
    height: auto;
    min-height: unset;
    max-height: unset;
    aspect-ratio: unset;  
    background: transparent;
  }

  .hero-slide {
    height: auto;
  }

  .hero-slider-wrapper {
    height: auto;
  }
  .hero-img-full {
    width: 100%;
    height: auto;       
    object-fit: contain;
    display: block;
  }
}


@media (max-width: 480px) {
  .hero-full-width {
    aspect-ratio: 3 / 1; 
  }
}
@media (max-width: 480px) {
  .hero-dots-container {
    bottom: 6px;
  }
}
