@import 'tailwindcss';
@plugin 'lightswind/plugin';

:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

.login-overlay {
  z-index: 9999;
}

.modal-overlay {
  z-index: 9999;
}
.swal2-container {
  z-index: 20000 !important;
}
.gg-swal-popup {
  z-index: 20000 !important;
}

.gg-swal-backdrop {
  z-index: 19999 !important;
}